
# Ignore RUNable folder
[Rr]un

# Build output folders
[Rr]elease*
[Pp]rofile*
[Ii]nternal*
[Dd]ebug*
[Hh]ybrid*
[Ee]nglish
[Ff]rench
[Gg]erman
[Ss]panish
Max4Release
Max4Hybrid

# Explicitly ignore these as the depo already contains prebuilt 3rd party .a files
/Code/GameEngine/Lib/GameEngine.a
/Code/GameEngine/Lib/GameEngineDebug.a
/Code/GameEngine/Lib/GameEngineInternal.a
/Code/GameEngine/Lib/GameEngineProfile.a
/Code/GameEngineDevice/Lib/GameEngineDevice.a
/Code/GameEngineDevice/Lib/GameEngineDeviceDebug.a
/Code/GameEngineDevice/Lib/GameEngineDeviceInternal.a
/Code/GameEngineDevice/Lib/GameEngineDeviceProfile.a
/Code/Libraries/Lib/Benchmark.a
/Code/Libraries/Lib/BenchmarkD.a
/Code/Libraries/Lib/EABrowserDispatch.a
/Code/Libraries/Lib/EABrowserDispatchD.a
/Code/Libraries/Lib/EABrowserDispatchI.a
/Code/Libraries/Lib/GameSpyHTTP.a
/Code/Libraries/Lib/GameSpyHTTPDebug.a
/Code/Libraries/Lib/GameSpyHTTPInternal.a
/Code/Libraries/Lib/GameSpyPatching.a
/Code/Libraries/Lib/GameSpyPatchingDebug.a
/Code/Libraries/Lib/GameSpyPatchingInternal.a
/Code/Libraries/Lib/GameSpyPeer.a
/Code/Libraries/Lib/GameSpyPeerDebug.a
/Code/Libraries/Lib/GameSpyPeerInternal.a
/Code/Libraries/Lib/GameSpyPresence.a
/Code/Libraries/Lib/GameSpyPresenceDebug.a
/Code/Libraries/Lib/GameSpyPresenceInternal.a
/Code/Libraries/Lib/GameSpyStats.a
/Code/Libraries/Lib/GameSpyStatsDebug.a
/Code/Libraries/Lib/GameSpyStatsInternal.a
/Code/Libraries/Lib/ww3d2.a
/Code/Libraries/Lib/ww3d2Debug.a
/Code/Libraries/Lib/ww3d2DebugE.a
/Code/Libraries/Lib/ww3d2DebugW3D.a
/Code/Libraries/Lib/ww3d2Internal.a
/Code/Libraries/Lib/ww3d2Profile.a
/Code/Libraries/Lib/ww3d2ProfileE.a
/Code/Libraries/Lib/WWDebug.a
/Code/Libraries/Lib/WWDebugDebug.a
/Code/Libraries/Lib/WWDebugDebugW3D.a
/Code/Libraries/Lib/WWDebugInternal.a
/Code/Libraries/Lib/WWDebugProfile.a
/Code/Libraries/Lib/WWDownload.a
/Code/Libraries/Lib/WWDownloadDebug.a
/Code/Libraries/Lib/WWDownloadInternal.a
/Code/Libraries/Lib/WWLib.a
/Code/Libraries/Lib/WWLibdebug.a
/Code/Libraries/Lib/WWLibdebugW3D.a
/Code/Libraries/Lib/WWLibInternal.a
/Code/Libraries/Lib/WWLibProfile.a
/Code/Libraries/Lib/WWMath.a
/Code/Libraries/Lib/WWMathDebug.a
/Code/Libraries/Lib/WWMathDebugW3D.a
/Code/Libraries/Lib/WWMathInternal.a
/Code/Libraries/Lib/WWMathProfile.a
/Code/Libraries/Lib/WWSaveLoad.a
/Code/Libraries/Lib/WWSaveLoadDebug.a
/Code/Libraries/Lib/WWSaveLoadDebugE.a
/Code/Libraries/Lib/WWSaveLoadDebugW3D.a
/Code/Libraries/Lib/WWSaveLoadInternal.a
/Code/Libraries/Lib/WWSaveLoadProfile.a
/Code/Libraries/Lib/WWSaveLoadProfileE.a
/Code/Libraries/Lib/WWShade.a
/Code/Libraries/Lib/WWShadeDebug.a
/Code/Libraries/Lib/WWShadeDebugW3D.a
/Code/Libraries/Lib/WWShadeInternal.a
/Code/Libraries/Lib/WWShadeProfile.a
/Code/Libraries/Lib/WWUtil.a
/Code/Libraries/Lib/WWUtilDebug.a
/Code/Libraries/Lib/WWUtilDebugW3D.a
/Code/Libraries/Lib/WWUtilInternal.a
/Code/Libraries/Lib/WWUtilProfile.a

# Generated files
BrowserDispatch_i.c
BrowserDispatch.h
BrowserDispatch.tlb
generatedVersion.h

# Generated shader headers
*.vsh_code.h
*.psh_code.h

# Visual C++ files
*.ncb
*.opt
*.plg

# g++ files
*.o
